*{
    margin: 0;
    padding: 0;
    font-family: Comfortaa, serif;
}


/* INTRODUCTION*/
.textbox{
    display: none;
}
.logo {
    display: none;
}
.logo-txt{
    display: none;
}

.header{
    background: black;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;  
}

.header{
    animation-name: beginning;
    animation-delay: -2s;
    animation-duration: -4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;  
}
@keyframes beginning {
    0% {background: rgba(0, 0, 0, 0.8)}
    50% {background: rgba(0, 0, 0, 0.9)}
    100% {background: rgba(0, 0, 0, 1)}
}

.header span{
    display: flex;
    margin-top: 0;
    padding: 0.5% 6%;
    justify-content: center;
    align-items: center;
}

.header .textbox{
    display: inline;
    width: 90%;
    color: #fff;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 400;
    font-size: 35px;
}
.header .textbox img{
    width: 4em;
    margin-bottom: -1.55em;
    padding-bottom: -1.55em;
    border-bottom: -1.55em;
    margin-right: -1.4em;
    margin-left: -1em;
}
.header .textbox p{
    color:rgba(255, 255, 255, 0.281);
}
.header  h1{
    position: relative;
}
.header  h1::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    border-left: 2px solid black;
    animation: typing 2.5s steps(30) 1;
    animation-delay: -0.6s;
    animation-fill-mode: forwards; 
}
.header  p{
    position: relative;
}
.header  p::after{
    content: "";
    position: absolute;
   
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    border-left: 2px solid black;
    animation: typing 1.5s steps(30) 1;
    animation-delay: 0.13s;
    animation-fill-mode: forwards; 
    
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
        position: sticky;
        
    }
}


@media(max-width: 700px){
    .header:hover h1::after{
        animation-delay: 0.13s;
    }
    .header:hover p::after{
        animation-delay: 0.35s;
    }

}

/*DESCRIPTION*/
.about-us{
    width: 50%;
    height: 50%;
    color: rgba(255, 255, 255, 0.281);
    position: relative;
    align-self: center;
    margin-top: -30em;
    left: 26.5%;
    text-align: center;   
}

.about-us a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.281);
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 2em;
    padding: 12px 34px;
    font-size: 1.45em;
    font-weight: 500;
    background: transparent;
    position: relative;
    cursor: pointer; 
}
.about-us a:hover{
    border: 1px solid white;
    color:black;
    background: white;
    transition: 1ms ease-in-out;
}
@media(max-width: 700px){
    .about-us {
        margin-top: -18em;
    }

}

/*EARLY ACCESS*/
.input-space {
    width: 50%;
    height: 50%;
    color: rgba(255, 255, 255, 0.281);
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 5em;
    left: 26.5%;
    text-align: center;   
}
.input-space h3{
    font-size: 0.9em;
    margin-left: -16em;
    margin-bottom: 1em;
}
.input-space p{
    font-size: 0.9em;
    margin-left: -20em;
    
    margin-bottom: 1em;
}
.input-space input{
    width: 48%;
    display:flex;
    align-self: center;
}
@media (max-width: 700px){
    .input-space h3{
        margin-left: -5.75em;
     }
    .input-space p{
       margin-left: -10em;
    }
}


/* Contact Us*/
#footer {
    width: 50%;
    height: 50%;
    color: rgba(255, 255, 255, 0.281);
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 5em;
    left: 26.5%;
    text-align: center;   
  }
.footer-icon{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: black;
  }

#footer p{
    margin-bottom: 1em;
}

#footer-links a{
    color: rgba(255, 255, 255, 0.281);
    text-decoration: none;
  }

/*The end*/